bz2file==0.98
contextlib2==0.4.0
ecdsa==0.13
Fabric==1.10.2
invoke==0.11.1
Jinja2==2.8
kafka-python==0.9.5
MarkupSafe==0.23
paramiko==1.16.0
prettytable==0.7.2
pycrypto==2.6.1
requests==2.8.1
simplejson==3.8.1
six==1.10.0
streamparse==2.1.3
urllib3==1.24.2
wheel==0.24.0
